// Place all the styles related to the publics/publics controller here.
// They will automatically be included in application.css.
.infomation {
	font-size: 20px;
}

.mypage {
	margin-top: 40px;
}

.mypage2 {
	margin-bottom: 20px;
}

.mypage3 {
	margin-bottom: 10px;
	display: inline;
}

.mypage4 {
	margin-right: 20px;
	margin-bottom: 10px;
	display: inline;
}

.shiplook {
	margin-left: 44px;
}

.sign-edit {
	margin-top: 40px;
}

.unsubscribe {
	margin-top: 200px;
}