// Place all the styles related to the admins/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin-title {
	margin-top: 20px;
	margin-bottom: 40px;
}

.admin-top {
	font-size: 30px;
	font-weight: 1000;
}

.admin-top2 {
	font-size: 30px;
	font-weight: 1000;
	text-decoration: underline;
}