// Place all the styles related to the admins/publics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-green{
	background-color: #82ae46;
	color : #fff;
}
.table-left {
	border-right: double  3px #ddd;
}
.page-title{
	border-bottom: solid 3px #82ae46;
	margin-top: 10px;
	width: 50%;
	margin-bottom: 20px;
	font-size: 20px;
}
.border{
	border-bottom: dotted 3px #d8e698;
}
.box-top{
	margin-top: 10px;
}
.link-hover :hover{
  background-color: #82ae46;
}
.btn{
	background-color: #d8e698;
}