<div class="row">
  <div class="col-xs-3">
	<%= render "publics/items/genre_search", genres: @genres,items: @items %>
  </div>

  <div class="col-xs-9">
	<p>
	    ようこそ、ながのCakeへ！<br>
	    このサイトは、ケーキ販売のECサイトになります。<br>
	    会員でない方も商品の閲覧はできますが、<br>
	    購入には会員登録が必要になります。
	</p>
  </div>

</div>

<h2>オススメ商品</h2>

<%= link_to 'もっと見る>', items_path %>