<div class="row">
  <div class="col-xs-5 col-offset-xs-2">
	<h1 class="page-title pick-up-title">ジャンル編集</h1>
     <%= render 'admins/genres/post_genre',genre: @genre, path: admins_genre_path(@genre) %>
  </div>
</div>

