
<div class="row">
  <div class="col-xs-5 col-xs-offset-1">
	<h1 class="page-title pick-up-title">ジャンル一覧・追加</h1>
	<div id="result" >
    </div>
	  <div class="genre_post">
	    <%= render 'admins/genres/post_genre',genre: @genre, path: admins_genres_path(@genre) %>
	  </div>
  	<table class="table box-top">
	  <thead>
	    <tr class="active">
	      <th>ジャンル</th>
	      <th>状態</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody class="table-hover table-body genre_index">
	 	<%= render 'admins/genres/index_genre',genres: @genres %>
	  </tbody>
    </table>
    <%= paginate @genres, class:"pagenate_genres" %>
  </div>
</div>

