/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-family: 'Noto Serif JP', serif;
}

.main {
	min-height: 580px;
}

.row {
	width: 100%;
	margin: 0 auto;
}
.publis_name {
	padding: 15px;
}
.page-sub-title{
	margin-botton: 20px;
	width: 50%;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 900;
}
#table-borderless>thead>tr>th,
#table-borderless>tbody>tr>td,
#table-borderless>tbody>tr>th {
	border: none;
	padding: 5px;
}

.table-strong>tbody>tr>td,
.table-strong>tbody>tr>th {
	font-size: 16px;
}

.text_rigth {
	text-align: right;
}

.flax-main {
	display: flex;
	align-content: flex-end;
}

.flex-bottom {
	display: flex;
	align-items: flex-end;
}

.form-control {
	width: auto;
	display: inline-block;
}

.top-image {
	height: 380px;
	background-image: url(flower.jpg);
	background-size: cover;
	padding: 0;
	position: relative;
}
.top-text {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 15px;
	position: absolute;
	top: 10%;
	left: 3%;
}

.top-text p {
	font-weight: bold;
	font-size: 15px;
}

.pick-up-box {
	margin-top: 15px;
	margin-left: 20px;
}

.pick-up {
	padding: 0;
}

.pick-up-title {
	margin-bottom: 20px;
	font-size: 20px;
}

.pick-up p {
	margin-top: 5px;
}

.navbar {
	margin: 0;
}

.pick-up-item {
	padding: 0;
}

a {
	color: black;
}

.genre-search {
	margin-right: 20px;
	margin-top: 50px;
}

.container {
	width: 1300px;
	padding: 0;
}

.session1 {
	margin-top: 150px;
}

.login1 {
	margin-bottom: 50px;
}

.sign-up {
	margin-top: 80px;
}

.sign-up1 {
	margin-bottom: 50px;
}

.passedit {
	margin-bottom: 50px;
}

.adminlog {
	margin-bottom: 50px;
}