/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.main {
	position: relative;
	border: 1px solid;
	min-height: 700px;
}
.row{
	margin: 0 auto;
}
.navbar {
	border-bottom: 1px solid;
}

.publis_name {
	padding: 15px;
}

#table-borderless>thead>tr>th,
#table-borderless>tbody>tr>td,
#table-borderless>tbody>tr>th {
	border: none;
	padding: 5px;
}

.table-strong > tbody > tr > td,
.table-strong > tbody > tr > th{
	font-size: 16px;
}

.text_rigth{
	text-align: right;
}
.flax-main{
	display: flex;
	align-content: flex-end;
}
.flex-bottom{
	display: flex;
	align-items: flex-end;
}
.form-control{
	width: auto;
	display: inline-block;
}
.header{
	border: 1px solid;
	border-bottom: none;
}

.footer {
	border: 1px solid;
	border-top: none;
	padding-bottom: 50px;
}