<%= form_with(model:@order, url:admins_order_path(@order)) do |f| %>
  <%= f.select :status, Order.statuses.keys,{}, class:"form-control form-inline select_status" %>
  <span class="link-hover"><%= f.submit "更新",class:"btn  status-btn" %></span>
<% end %>
